<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" thread-count = "2" parallel = "tests" >
  <test name="Firefox Test">
  <parameter name="browser" value="Firefox"/>
    <classes>
      <class name="testscripts.verifyHomePageTitle"/>
    </classes>
  </test>
  <test name="Chrome Test">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="testscripts.verifyHomePageTitle"/>
    </classes>
  </test>
</suite>